<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h2 class="card-title">DETAIL INFORMTION MODEL</h2>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-12">
              <img
                class="avatar border-gray"
                src="assets/img/mike.jpg"
                alt="..."
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>ID</label>
                <input
                  type="text"
                  class="form-control"
                  value="123456789"
                  disabled
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>LIBELLE</label>
                <input
                  type="text"
                  class="form-control"
                  value="Tandance Korité"
                  disabled
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>DESCRIPTION</label>
                <input
                  type="text"
                  class="form-control"
                  value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum"
                  disabled
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">PRIX</label>
                <input type="email" class="form-control" value="160.000fr" disabled/>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>ANNULER</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>FERMER</button>
  </mat-dialog-actions>
</div>
