<mat-form-field appearance="standard">
  <mat-label>RECHERCHE</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex: AULAAMAS" #input />
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- PRENOM Column -->
    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef>PRENOM</th>
      <td mat-cell *matCellDef="let element">{{ element.user.prenom }}</td>
    </ng-container>

    <!-- NOM Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef>NOM</th>
      <td mat-cell *matCellDef="let element">{{ element.user.nom }}</td>
    </ng-container>

    <!-- NUMERO COMMANDE Column -->
    <ng-container matColumnDef="numeroCommande">
      <th mat-header-cell *matHeaderCellDef>NUMERO COMMANDE</th>
      <td mat-cell *matCellDef="let element">{{ element.numeroCommande }}</td>
    </ng-container>

    <!-- MODEL Column -->
    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>MODELE</th>
      <td mat-cell *matCellDef="let element">{{ element.model.libelle }}</td>
    </ng-container>

    <!-- PRIX Column -->
    <ng-container matColumnDef="prix">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PRIX</th>
      <td mat-cell *matCellDef="let element">{{ element.prix }}</td>
    </ng-container>

    <!-- AVANCE Column -->
    <ng-container matColumnDef="avance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>AVANCE</th>
      <td mat-cell *matCellDef="let element">{{ element.avance }}</td>
    </ng-container>

    <!-- RELICAT Column -->
    <ng-container matColumnDef="relicat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>RELICAT</th>
      <td mat-cell *matCellDef="let element">{{ element.relicat }}</td>
    </ng-container>

    <!-- DETAIL Column -->
    <ng-container matColumnDef="detail">
      <th mat-header-cell *matHeaderCellDef>DETAIL</th>
      <td mat-cell *matCellDef="let element">
        <div class="example-button-container">
          <button
            mat-mini-fab
            color="primary"
            (click)="detailInfoCommande(element)"
            aria-label="Example icon button with a filter list icon"
          >
            <mat-icon>filter_list</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <!-- MODIFIER Column -->
    <ng-container matColumnDef="modifier">
      <th mat-header-cell *matHeaderCellDef>MODIFIER</th>
      <td mat-cell *matCellDef="let element">
        <div class="example-button-container">
          <button
            mat-mini-fab
            color="accent"
            (click)="modifierInfoCommande(element)"
            aria-label="Example icon button with a menu icon"
          >
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <!-- IMPRIMER Column -->
    <ng-container matColumnDef="imprimer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>IMPRIMER</th>
      <td mat-cell *matCellDef="let row">
        <div class="example-button-container">
          <button
            mat-mini-fab
            color="warn"
            aria-label="Example icon button with a menu icon"
            (click)="createPdf()"
          >
            <mat-icon>filter_list</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>

<button mat-raised-button color="primary" (click)="ajoutNouveauCommande()">
  NOUVEAU COMMANDE
</button>
