<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h2 class="card-title">DETAIL INFORMATION CLIENT</h2>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>ID CLIENT</label>
                <input
                  type="text"
                  class="form-control"
                  disabled=""
                  placeholder="Company"
                  value="1234567890"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>PRENOM</label>
                <input
                  disabled=""
                  type="text"
                  class="form-control"
                  placeholder="Username"
                  value="Seydina Issa "
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">NOM</label>
                <input
                  disabled=""
                  type="email"
                  class="form-control"
                  placeholder="SARR"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>TELEPHONE</label>
                <input
                  type="text"
                  class="form-control"
                  disabled=""
                  placeholder="Username"
                  value="779455666"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>EPAULE CLIENT</label>
                <input
                  type="text"
                  disabled=""
                  class="form-control"
                  placeholder="Company"
                  value="75"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>HANCHE CLIENT</label>
                <input
                  type="text"
                  disabled=""
                  class="form-control"
                  placeholder="Last Name"
                  value="130"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>MANCHE CLIENT</label>
                <input
                  type="text"
                  disabled=""
                  class="form-control"
                  placeholder="Home Address"
                  value="230"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>COU CLIENT</label>
                <input
                  type="text"
                  disabled=""
                  class="form-control"
                  placeholder="Home Address"
                  value="127"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>LONGUEUR BRAS CLIENT</label>
                <input
                  type="text"
                  disabled=""
                  class="form-control"
                  placeholder="City"
                  value="35"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>LONGUEUR PANTALON CLIENT</label>
                <input
                  type="text"
                  disabled=""
                  class="form-control"
                  placeholder="Country"
                  value="110"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>MANCHE POITRINE</label>
                <input
                  disabled=""
                  type="number"
                  class="form-control"
                  placeholder="360"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>TOUR DE BRAS CLIENT</label>
                <input type="text" disabled="" class="form-control" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>TOUR DE TAILLE CLIENT</label>
                <input
                  disabled=""
                  type="number"
                  class="form-control"
                  placeholder="26"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>CUISSE</label>
                <input
                  disabled=""
                  type="number"
                  class="form-control"
                  placeholder="317"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>TOUR DE BRAS CLIENT</label>
                <input
                  disabled=""
                  type="text"
                  class="form-control"
                  value="59"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>CEINTURE CLIENT</label>
                <input
                  disabled=""
                  type="text"
                  class="form-control"
                  value="209"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>POIGNET MACHET</label>
                <input
                  disabled=""
                  type="number"
                  class="form-control"
                  placeholder="317"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>BAS</label>
                <input
                  disabled=""
                  type="number"
                  class="form-control"
                  placeholder="317"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>ANNULER</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>FERMER</button>
  </mat-dialog-actions>
</div>
