<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h2 class="card-title">DETAIL INFORMATION CLIENT</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="addForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>PRENOM</label>
                <input
                  type="text"
                  disabled
                  formControlName="prenom"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>NOM</label>
                <input
                  type="text"
                  disabled
                  formControlName="nom"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">TELEPHONE</label>
                <input
                  type="email"
                  class="form-control"
                  disabled
                  formControlName="telephone"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">POIGNET MACHET DU CLIENT</label>
                <input
                  type="text"
                  disabled
                  formControlName="poignetMachetClient"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>EPAULE CLIENT</label>
                <input
                  type="text"
                  disabled
                  formControlName="epauleClient"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>HANCHE CLIENT</label>
                <input
                  type="text"
                  disabled
                  formControlName="hancheClient"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>MANCHE CLIENT</label>
                <input
                  type="text"
                  disabled
                  formControlName="mancheClient"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>COU CLIENT</label>
                <input
                  type="text"
                  disabled
                  formControlName="couClient"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>LONGUEUR BRAS CLIENT</label>
                <input
                  type="text"
                  disabled
                  formControlName="longueurBrasClient"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>LONGUEUR PANTALON CLIENT</label>
                <input
                  type="text"
                  disabled
                  formControlName="longueurPantalonClient"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>MANCHE POITRINE</label>
                <input
                  type="text"
                  disabled
                  formControlName="mancheProtrineClient"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>TOUR DE BRAS CLIENT</label>
                <input
                  type="text"
                  disabled
                  formControlName="tourDeBrasClient"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>TOUR DE TAILLE CLIENT</label>
                <input
                  type="text"
                  disabled
                  formControlName="tourDeTailleClient"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>CUISSE</label>
                <input
                  type="text"
                  disabled
                  formControlName="cuisseClient"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>CEINTURE CLIENT</label>
                <input
                  type="text"
                  disabled
                  formControlName="ceintureClient"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>BAS CLIENT</label>
                <input
                  type="text"
                  disabled
                  formControlName="basClient"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>BRAS CLIENT</label>
                <input
                  type="text"
                  disabled
                  formControlName="BrasClient"
                  class="form-control"
                />
              </div> 
            </div>
          </div>
          <!-- <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" name="submit" class="btn btn-primary" (click)="modifierClient()">
                MODIFIER
              </button>
            </div>
          </div> -->
        </form>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>ANNULER</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>FERMER</button>
  </mat-dialog-actions>
</div>
