<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h2 class="card-title">MODIFIER INFORMATION CLIENT</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="addForm">
          <div class="alert alert-danger" role="alert" *ngIf="erreur!=''">
            {{ erreur }}
          </div><br>
          <div class="alert alert-success" role="alert" *ngIf="success!=''">
            {{ success }}
          </div><br>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>PRENOM</label>
                <input
                  type="text"
                  name="prenom"
                  formControlName="prenom"
                  class="form-control"
                />
                <span
                  class="login-erreur"
                  *ngIf="erreurprenom != ''"
                >
                  {{ erreurprenom }}
                </span><br>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>NOM</label>
                <input
                  type="text"
                  name="nom"
                  formControlName="nom"
                  class="form-control"
                />
                <span
                  class="login-erreur"
                  *ngIf="erreurnom != ''"
                >
                  {{ erreurnom }}
                </span><br>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">TELEPHONE</label>
                <input
                  type="email"
                  class="form-control"
                  name="telephone"
                  formControlName="telephone"
                />
                <span
                  class="login-erreur"
                  *ngIf="erreurtelephone != ''"
                >
                  {{ erreurtelephone }}
                </span><br>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">POIGNET MACHET DU CLIENT</label>
                <input
                  type="text"
                  name="poignetMachetClient"
                  formControlName="poignetMachetClient"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>EPAULE CLIENT</label>
                <input
                  type="text"
                  name="epauleClient"
                  formControlName="epauleClient"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>HANCHE CLIENT</label>
                <input
                  type="text"
                  name="hancheClient"
                  formControlName="hancheClient"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>MANCHE CLIENT</label>
                <input
                  type="text"
                  name="mancheClient"
                  formControlName="mancheClient"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>COU CLIENT</label>
                <input
                  type="text"
                  name="couClient"
                  formControlName="couClient"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>LONGUEUR BRAS CLIENT</label>
                <input
                  type="text"
                  name="longueurBrasClient"
                  formControlName="longueurBrasClient"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>LONGUEUR PANTALON CLIENT</label>
                <input
                  type="text"
                  name="longueurPantalonClient"
                  formControlName="longueurPantalonClient"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>MANCHE POITRINE</label>
                <input
                  type="text"
                  name="mancheProtrineClient"
                  formControlName="mancheProtrineClient"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>TOUR DE BRAS CLIENT</label>
                <input
                  type="text"
                  name="tourDeBrasClient"
                  formControlName="tourDeBrasClient"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>TOUR DE TAILLE CLIENT</label>
                <input
                  type="text"
                  name="tourDeTailleClient"
                  formControlName="tourDeTailleClient"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>CUISSE</label>
                <input
                  type="text"
                  name="cuisseClient"
                  formControlName="cuisseClient"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>CEINTURE CLIENT</label>
                <input
                  type="text"
                  name="ceintureClient"
                  formControlName="ceintureClient"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>BAS CLIENT</label>
                <input
                  type="text"
                  name="basClient"
                  formControlName="basClient"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>BRAS CLIENT</label>
                <input
                  type="text"
                  name="BrasClient"
                  formControlName="BrasClient"
                  class="form-control"
                />
              </div> 
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" name="submit" class="btn btn-primary" (click)="modifierClient()">
                MODIFIER
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>ANNULER</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
      APPLIQUER
    </button>
  </mat-dialog-actions>
</div>
