.row {
  margin-top: -2%;
}
input {
  font-size: 16px;
  font-weight: bold;
}
label {
  font-size: 16px;
}
.alert{
  font-size: 26px;
  text-align: center;
}
.login-erreur{
  color: red;
  font-size: 16px;
}
