<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h2 class="card-title">MODIFIER INFORMTION MODEL</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="addForm">
          <div class="alert alert-danger" role="alert" *ngIf="erreur!=''">
            {{ erreur }}
          </div><br>
          <div class="alert alert-success" role="alert" *ngIf="success!=''">
            {{ success }}
          </div><br>
          <div class="row">
            <div class="col-md-6">
              <label>CATHEGORIE MODEL</label>
              <div class="form-control">
                <select
                  name="cathegorie"
                  formControlName="cathegorie"
                  class="form-control"
                >
                  <option value="" selected disabled>CHOISIR UN MODEL</option>
                  <option value="HOMME">HOMME</option>
                  <option value="FEMME">FEMME</option>
                  <option value="ENFANT">ENFANT</option>
                </select>
                <span
                  class="login-erreur"
                  *ngIf="erreurcathegorie != ''"
                >
                  {{ erreurcathegorie }}
                </span><br>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>LIBELLE</label>
                <input
                  type="text"
                  formControlName="libelle"
                  class="form-control"
                />
                <span
                  class="login-erreur"
                  *ngIf="erreurlibelle != ''"
                >
                  {{ erreurlibelle }}
                </span><br>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>DESCRIPTION</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="descriptionModel"
                />
                <span
                  class="login-erreur"
                  *ngIf="erreurdescription != ''"
                >
                  {{ erreurdescription }}
                </span><br>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">PRIX</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="prix"
                />
                <span
                  class="login-erreur"
                  *ngIf="erreurprix != ''"
                >
                  {{ erreurprix }}
                </span><br>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>IMAGES MODEL</label>
              <div class="form-control">
                <input type="file" name="images" formControlName="images" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto mt-3">
              <button type="submit" class="btn btn-primary btn-round" (click)="modifierModel()">
                MODIFIER
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>ANNULER</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>FERMER</button>
  </mat-dialog-actions>
</div>
