<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h2 class="card-title">NOUVEAU COMMANDE CLIENT</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="addForm">
          <div class="alert alert-danger" role="alert" *ngIf="erreur!=''">
            {{ erreur }}
          </div><br>
          <div class="alert alert-success" role="alert" *ngIf="success!=''">
            {{ success }}
          </div><br>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>NUMERO COMMANDE</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="numeroCommande"
                />
                <span
                  class="login-erreur"
                  *ngIf="erreurnumeroCommande != ''"
                >
                  {{ erreurnumeroCommande }}
                </span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>TYPE DE COMMANDE</label>
                <select formControlName="typeCommande" class="form-control">
                  <option value="" selected disabled>CHOISIR LE TYPE</option>
                  <option value="ACHAT">ACHAT SUR LA BOUTIQUE</option>
                  <option value="COMMANDE">COMMANDE SUR MESURE</option>
                </select>
                <span
                  class="login-erreur"
                  *ngIf="erreurtypeCommande != ''"
                >
                  {{ erreurtypeCommande }}
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>CLIENT</label>
                <select class="form-control" formControlName="user">
                  <option value="">JOINDRE UN CLIENT</option>
                  <option *ngFor="let user of dataClient" value="/api/aulaamas/users/{{ user.id }}">
                    {{ user.prenom }} {{ user.nom }}
                  </option>
                </select>
                <span
                  class="login-erreur"
                  *ngIf="erreuruser != ''"
                >
                  {{ erreuruser }}
                </span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">LIBELLE DE LA COMMANDE</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="nomCommande"
                />
                <span
                  class="login-erreur"
                  *ngIf="erreurnomCommande != ''"
                >
                  {{ erreurnomCommande }}
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>TYPE DE TISSU</label>
                <select
                  class="form-control"
                  formControlName="typeDeTissuClient"
                >
                  <option value="">CHOISIR TYPE DE TISSU</option>
                  <option value="wax">WAX</option>
                  <option value="bazin">BAZIN</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>COULEUR DE TISSU</label>
                <input
                  type="text"
                  formControlName="couleurTissuClient"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>TAILLE DU TISSU</label>
                <input
                  type="text"
                  formControlName="tailleTissuClient"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>MODEL</label>
                <select formControlName="model" class="form-control">
                  <option value="">CHOISIR</option>
                  <option *ngFor="let model of dataModel" value="/api/aulaamas/models/{{model.id}}">{{model.libelle}}</option>
                </select>
                <span
                  class="login-erreur"
                  *ngIf="erreurmodel != ''"
                >
                  {{ erreurmodel }}
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>PRIX</label>
                <input
                  type="text"
                  formControlName="prix"
                  class="form-control"
                />
                <span
                  class="login-erreur"
                  *ngIf="erreurprix != ''"
                >
                  {{ erreurprix }}
                </span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>AVANCE</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="avance"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>RELICAT</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="relicat"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>DATE DE LA COMMANDE</label>
                <input
                  type="date"
                  class="form-control"
                  formControlName="dateCommande"
                />
                <span
                  class="login-erreur"
                  *ngIf="erreurdateCommande != ''"
                >
                  {{ erreurdateCommande }}
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button
                type="submit"
                (click)="ajoutNouveauCommande()"
                class="btn btn-primary btn-round"
              >
                ENREGISTRER
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>ANNULER</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
      VALIDER
    </button>
  </mat-dialog-actions>
</div>
