<div class="container">
  <div class="screen">
    <div class="screen__content">
      <div class="text-center">
        <img
          src="../../assets/img/aulaamas.jpg"
          width="100"
        /> <br>
        <span>AULAAMAS DAROU SALAM</span><br>
        <span
          style="color: red; font-size: 20px; margin-left: -5%"
          *ngIf="erreur != ''"
        >
          {{ erreur }}
        </span>
      </div>
      <form class="login" [formGroup]="addForm">
        <div class="form-group">
          <div class="login__field">
            <input
              type="text"
              class="login__input"
              placeholder="Email / N° Téléphone"
              formControlName="username"
              name="username"
            />
          </div>
          <span
            style="color: red; font-size: 16px"
            *ngIf="erreurUsername != ''"
          >
            {{ erreurUsername }}
          </span>
          <div class="login__field">
            <input
              type="password"
              class="login__input"
              placeholder="Mot de Passe"
              formControlName="password"
              name="password"
            />
          </div>
          <span
            style="color: red; font-size: 16px"
            *ngIf="erreurPassword != ''"
          >
            {{ erreurPassword }}
          </span>
          <button class="button login__submit text-center" (click)="onSignIn()">
            CONNEXION
          </button>
        </div>
      </form>
      <div class="social-login">
        <h3>AUTHENTIFICATION</h3>
        <div class="social-icons">
          <a href="#" class="social-login__icon fab fa-instagram"></a>
          <a href="#" class="social-login__icon fab fa-facebook"></a>
          <a href="#" class="social-login__icon fab fa-twitter"></a>
        </div>
      </div>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
