<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h2 class="card-title">DETAIL INFORMTION COMMANDE CLIENT</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="addForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>NUMERO COMMANDE</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="numeroCommande"
                  disabled
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>TYPE DE COMMANDE</label>
                <select formControlName="typeCommande" disabled class="form-control">
                  <option value="" selected disabled>CHOISIR LE TYPE</option>
                  <option value="ACHAT">ACHAT SUR LA BOUTIQUE</option>
                  <option value="COMMANDE">COMMANDE SUR MESURE</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>CLIENT</label>
                <select disabled class="form-control" formControlName="user">
                  <option selected *ngFor="let user of dataClient" value="/api/aulaamas/users/{{ user.id }}">
                    {{ user.prenom }} {{ user.nom }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">LIBELLE DE LA COMMANDE</label>
                <input
                  type="text"
                  disabled
                  class="form-control"
                  formControlName="nomCommande"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>TYPE DE TISSU</label>
                <select
                  class="form-control"
                  disabled
                  formControlName="typeDeTissuClient"
                >
                  <option value="">CHOISIR TYPE DE TISSU</option>
                  <option value="wax">WAX</option>
                  <option value="bazin">BAZIN</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>COULEUR DE TISSU</label>
                <input
                disabled
                  type="text"
                  formControlName="couleurTissuClient"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>TAILLE DU TISSU</label>
                <input
                  type="text"
                  disabled
                  formControlName="tailleTissuClient"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>MODEL</label>
                <select formControlName="model" disabled class="form-control">
                  <option disabled>CHOISIR</option>
                  <option selected *ngFor="let model of dataModel" value="/api/aulaamas/models/{{model.id}}">{{model.libelle}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>PRIX</label>
                <input
                  type="text"
                  disabled
                  formControlName="prix"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>AVANCE</label>
                <input
                  type="text"
                  disabled
                  class="form-control"
                  formControlName="avance"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>RELICAT</label>
                <input
                  type="text"
                  disabled
                  class="form-control"
                  formControlName="relicat"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>DATE DE LA COMMANDE</label>
                <input
                  type="date"
                  disabled
                  class="form-control"
                  formControlName="dateCommande"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>ANNULER</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>FERMER</button>
  </mat-dialog-actions>
</div>
