<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h2 class="card-title">DETAIL INFORMTION COMMANDE CLIENT</h2>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>ID COMMANDE</label>
                <input
                  type="text"
                  class="form-control"
                  disabled=""
                  placeholder="Company"
                  value="00012"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>PRENOM</label>
                <input
                  disabled=""
                  type="text"
                  class="form-control"
                  placeholder="Username"
                  value="Seydina Issa "
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">NOM</label>
                <input
                  disabled=""
                  type="email"
                  class="form-control"
                  placeholder="SARR"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>NUMERO COMMANDE</label>
                <input
                  type="text"
                  class="form-control"
                  disabled=""
                  placeholder="Username"
                  value="98234567"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>MODEL</label>
                <input
                  type="text"
                  disabled=""
                  class="form-control"
                  placeholder="Company"
                  value="Tandance Korité"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>PRIX</label>
                <input
                  type="text"
                  disabled=""
                  class="form-control"
                  placeholder="Last Name"
                  value="130.OOfr"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>AVANCE</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Company"
                  value="10.000"
                  disabled
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>RELICAT</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Last Name"
                  value="150.OOfr"
                  disabled
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>ANNULER</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>FERMER</button>
  </mat-dialog-actions>
</div>
