<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h2 class="card-title">DETAIL INFORMTION DEPENSE</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="addForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>ID DEPENSE</label>
                <input
                  type="text"
                  class="form-control"
                  disabled=""
                  formControlName="id"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>TYPE DE DEPENSE</label>
                <input
                  disabled=""
                  type="text"
                  class="form-control"
                  formControlName="type"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">LIBELLE</label>
                <input
                  disabled=""
                  type="text"
                  class="form-control"
                  formControlName="libelle"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>MONTANT</label>
                <input
                  type="text"
                  class="form-control"
                  disabled=""
                  formControlName="prix"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>DATE</label>
                <input
                  type="text"
                  disabled=""
                  class="form-control"
                  formControlName="date"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>DESCRIPTION</label>
                <input
                  type="text"
                  disabled=""
                  class="form-control"
                  formControlName="description"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>ANNULER</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
      VALIDER
    </button>
  </mat-dialog-actions>
</div>
